/*
.zoom_zik {
    background-color: black;
    color: green;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    padding: 50px;
    transition: transform 0.2s;
}
  
    .zoom_zik:hover {
        transform: scale(1.5);
    }
*/