body {
    background: #c2e0f2;
    color: white;
}

a {
    background: transparent;
    color: black;
}
    a:hover {
        background: transparent;
        color: rgb(75, 75, 75);
    }

header {
    background: #b4d0e0;
    color: white;
    width: auto;
    height: 150px;
    border-radius: 0px 0px 10px 10px;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    background: transparent;
    color: black;
    width: 400px;
    height: auto;
}

.button {
    background: white;
    color: #b4d0e0;
    width: 100px;
    height: 50px;
    border-radius: 10px 10px 10px 10px;
}

#div {
    background: white;
    color: black;
    width: 1500px;
    height: auto;
    border-radius: 10px 10px 10px 10px;
    margin-left: auto;
    margin-right: auto;
}

#about {
    background: #c2e0f2;
    color: black;
    width: 1400px;
    height: auto;
    border-radius: 10px 10px 10px 10px;
    margin-left: auto;
    margin-right: auto;
}

.ico {
    background: transparent;
    color: black;
    width: 150px;
    height: 150px;
}

#gen_footer {
    background: #ededed;
    color: black;
    width: auto;
    height: 150px;
    border-radius: 10px 10px 0px 0px;
    margin-left: auto;
    margin-right: auto;
}
    object {
        background: transparent;
        color: black;
        width: 125px;
        height: 125px;
        margin-left: auto;
        margin-right: auto;
    }
        object:hover {
            background: transparent;
            color: rgb(75, 75, 75);
            width: 150px;
            height: 150px;
        }
    #in_footer {
        background: transparent;
        color: black;
        width: 1500px;
        height: 150px;
        margin-left: auto;
        margin-right: auto;
    }