body {
    background-image: url(../media/images/background.JPG);
        background-repeat: no-repeat;
        background-size: cover;
    color: black;
}

a {
    background: transparent;
    color: black;
}
    a:hover {
        background: transparent;
        color: rgb(75, 75, 75);
    }

header {
    background: transparent;
    color: black;
    width: auto;
    height: auto;
    border-radius: 0px 0px 0px 0px;
    margin-left: auto;
    margin-right: auto;
}
    .logo {
        background: transparent;
        color: black;
        width: 400px;
        height: auto;
    }

.button {
    background: white;
    color: #b4d0e0;
    width: 100px;
    height: 50px;
    border-radius: 10px 10px 10px 10px;
}

#div {
    background: transparent;
    color: green;
    width: 1500px;
    height: auto;
    border-radius: 10px 10px 10px 10px;
    margin-left: auto;
    margin-right: auto;
}
    #div .h1 {
        background: transparent;
        color: red;
        font-family: Bodoni MT, Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif;
        font-size: 26px;
    }
    #div .h2 {
        background: transparent;
        color: red;
        font-family: 'Arial Bold', sans-serif;
        font-size: 52px;
    }
    #div .h3 {
        background: transparent;
        color: red;
        font-family: Bodoni MT, Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif;
        font-size: 78px;
    }
    #div .h4 {
        background: transparent;
        color: red;
        font-family: Bodoni MT, Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif;
        font-size: 104px;
    }
    #div .p {
        background: transparent;
        color: white;
        font-family: Bodoni MT, Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif;
        font-size: 16px;
    }
        #div .p::before {
            font-family: Bodoni MT, Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif;
            font-size: 20px;
            text-transform: uppercase;
            content: "''";
        }
        #div .p::after {
            font-family: Bodoni MT, Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif;
            font-size: 20px;
            text-transform: uppercase;
            content: "''";
        }

#about {
    background: transparent;
    color: green;
    width: 1400px;
    height: auto;
    border-radius: 10px 10px 10px 10px;
    margin-left: auto;
    margin-right: auto;
}

.ico {
    background: transparent;
    color: black;
    width: 150px;
    height: 150px;
}

#gen_middle {
    background: rgb(75, 100, 125);
        background-repeat: no-repeat;
        background-size: cover;
    color: rgb(14, 44, 75);
    border-radius: 10px 10px 10px 10px;
}
    #in_middle {
        background: rgb(14, 44, 75);
        color: rgb(75, 100, 125);
        width: 255px;
        height: auto;
        border-radius: 10px 10px 10px;
        display: inline-block;
    }
        figure {
            background: black;
                box-shadow: rgba(75, 25, 25, 0.100);
            color: green;
            width: 250px;
            height: 75px;
            border-radius: 10px 10px 10px;
            margin: 0;

        }
        audio {
            background: black;
                box-shadow: rgba(75, 25, 25, 0.100);
            color: green;
            width: 250px;
            height: 25px;
            border-radius: 10px 10px 10px 10px;
        }
        
        #song {
            background: transparent;
            color: green;
            width: auto;
            height: auto;
            border-radius: 10px 10px 10px 10px;
        }

#gen_footer {
    background: transparent;
    color: green;
    width: 1000px;
    height: 100px;
    border-radius: 0px 0px 0px 0px;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    bottom: 1;
    margin: auto;
}
    object {
        background: transparent;
        color: green;
        width: 100px;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
    }
        object:hover {
            background: transparent;
            color: green;
            width: 150px;
            height: 150px;
        }
    #in_footer {
        background: transparent;
        color: green;
        width: 950px;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
    }
.btn_footter {
    background: transparent;
    color: green;
    width: 150px;
    height: 150px;
    border-color: black;
    border: 3px solid;
    border-radius: 100px 100px 0px 0px;
}
    .btn_footter:hover {
        background: rgba(255, 255, 255, 0.466);
        border-color: green;
    }
    .flux {
        background-image: url(../media/svg/ico_flux.svg);
    }
    .search {
        background-image: url(../media/svg/ico_search.svg);
    }
    .musique {
        background-image: url(../media/svg/ico_musique.svg);
    }
    .playlist {
        background-image: url(../media/svg/ico_playlist.svg);
    }
    .profil {
        background-image: url(../media/svg/ico_profil.svg);
    }